:root {
    /* 响应式触发宽度 */
    --responsive-trigger-width: 800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

img {
    -webkit-user-drag: none; /* 禁止拖动 */
}

/* 隐藏滚动条样式 */
::-webkit-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}