:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    scroll-behavior: smooth; /* 滚动样式 */
}

img {
    -webkit-user-drag: none; /* 禁止拖动 */
}

/* 隐藏滚动条样式 */
::-webkit-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}